.avater {
  width: 60px;
  border-radius: 50%;
}

.menu {
  display: flex;
  color: #fff;
  gap: 20px;
  list-style: none;
  margin: 0;
}

.menuItem {
  cursor: pointer;
  padding: 0 20px;
}

.menuSelected {
  background-color: rgb(58, 128, 217);
  border-radius: 5px;
}