<ng-container *ngFor="let item of menuData">
  <li nz-submenu *ngIf="item.children && item.children.length"
    [nzTitle]="item.name"
    [nzIcon]="item.icon || ''">
    <ul>
      <app-sub-menu [menuData]="item.children"></app-sub-menu>
    </ul>
  </li>
  <li nz-menu-item *ngIf="!(item.children && item.children.length) && item.name"
    [nzMatchRouter]="true"
  >
    <span nz-icon
    [nzType]="item.icon || ''"
    nzTheme="outline"></span>
    <a [routerLink]="[item.path]">{{item.name}}</a>
  </li>
</ng-container>
